<style>

    html {
        font-size: 60%;
        
    }

    body {
        
        background-color: rgb(2, 5, 27);
        color: linen;
    }

    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;   
        background-color: rgb(2, 5, 27);
        width: 100%;
        z-index: 100000;  
    }

    .nav {
        padding: 13px 15px;
        text-decoration: none;
        color: linen;
 
    }

    nav>ul>li {
        font-size: 2.5rem;
        list-style-type: none;
        color: linen;
        display: block;
        float: left;
        padding: 14px 16px;      
    }

    nav a {
        color: linen;
        text-decoration: none;

    }

   nav a:hover {
        cursor: pointer;
        background-color: rgb(76, 164, 194);
        border-radius: 60%;
        
    }

    #welcome-section {
        height: 100vh;
        margin-top: 3rem;
    }

    .left {
        position: absolute;
        width: 70%;
        left: 0;
    }

    #profile-img {
        opacity: 0.5;
        width: 70%;
        margin-top: 6rem;
    }

    .intro {
        position: relative;
        top: 4rem;
        margin-top: 2rem;

    }

    .right {
        position: absolute;
        text-align: left;
        display: flex-end;
        left: 55%;

    }

    .resume{
        margin-top: -1rem;
    }

    h1,
    h2,
    h3,
    h4, 
    p,
    span {
        color: linen;
        font-family: 'Roboto', sans-serif;
        margin: 1rem;
        left: 0;
    }

    h1 {
        font-size: 2.5rem;
        position: absolute;
        top: 80%;
        left: 1%;
        z-index: 10000;
        font-weight: bolder;
    }

    h2 {
        font-size: 2.2rem;
        
    }

    h3 {
        margin-top: 4rem;
        font-size: 2rem;
        font-weight: bold;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.8rem;

    }

    
    #contact {
        margin-top: 2.2rem;
        color: linen;

    }

    table,
    th,
    td {
        border: 1px solid white;   
        font-size: 1.3rem;
        line-height: 2rem;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
    }

    table{
        margin: 2rem auto 3rem auto;
    }

    #projects{
        margin-top: 6rem;
        font-size: 1.5rem;
        margin-bottom: 3rem;
        height: 400px;
        display: inline-block;
    }
   
    #projects>ul>li{
        list-style: none;
        width: 100%;
        min-width: 350px;
        margin-top: 3rem;
        height: 300px;
        padding: auto 3rem;
    }
    .column {
        float: left;
        width: 32%;
        padding: 5px;
      }
      
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
 

    
    @media (max-width: 1024px){
        .resume{
        margin-top: -28rem;
    }

         .left{
             margin-top: 10rem;
        
    }

    }

    @media (max-width: 768px){
        h1{
            font-size: 1.8rem;
        }
        h2{
            font-size: 1.5rem;
        }
        h3{
            font-size: 1.2rem;
        }
        h4{
            font-size: 1.2rem;
            margin-top: 5rem;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1rem;
        }
        .resume{
        margin-top: 20rem;
    }

    .left{
        transform: scale(1.6);
        margin-left: 15rem;
           
    }

    .right{
        width: 100%;
        margin-top: 40rem;
        margin-left: -26rem;
           
    }

    @media (max-width: 414px){
        h1{
            font-size: 1.8rem;
        }
        h2{
            font-size: 1.5rem;
        }
        h3{
            font-size: 1.2rem;
        }
        h4{
            font-size: 1.2rem;
            margin-top: 5rem;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1rem;
        }
        .resume{
        margin-top: 30rem;
    }

    .left{
        transform: scale(2.5);
        margin-left: 15rem;
           
    }

    .right{
        width: 32rem;
        margin-top: 35rem;
        margin-left: -13rem;
           
    }

    

    }


  
</style>